@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome</h1>
    <p class="mb-4">SportMatchmaking Management System</p>

    <a asp-controller="AdminDashboard" asp-action="Index" class="btn btn-dark btn-lg">
        Vào trang Admin
    </a>
</div>