@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome</h1>
    <p class="mb-4">SportMatchmaking Management System</p>

    @if (Context.Session.GetString("RoleName") == "Admin")
    {
        <a asp-controller="AdminDashboard" asp-action="Index" class="btn btn-dark btn-lg">
            Vào trang Admin
        </a>
    }
    else
    {
        <a asp-controller="Post" asp-action="Index" class="btn btn-primary btn-lg">
            Xem bài đăng
        </a>
    }
</div>